div {
    float: right;
    margin: 5px 10px 0;
}

.welcome {
    float: left;
}

button {
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
}

button.in {
    background: green;
}

button.out {
    background: red;
}