<div class="ui container main">
	<h1>Card Pick-a-matic</h1>

	<div class="ui segment">
		<div class="ui grid">
			<div class="two column row">
				<div class="middle aligned column">
					<button (click)="drawACard()" class="ui big fluid button" [disabled]="getDeckCardCount === 0">
						Pick a card!
                        You have {{getDeckCardCount}} cards left.
					</button>
				</div>
				<div class="one wide bottom aligned column lifeBarParent">
					<div [ngStyle]="lifeBar" class="life-bar">
                    </div>
				</div>
				<div class="four wide middle aligned column">
					    <p *ngIf ="recentCard !== undefined">You last drew: {{recentCard.rank}} of {{recentCard.suit}}</p>	
				</div>
			</div>
		</div>
	</div>

	<div *ngFor="let card of cardsInHand; let I = index" class="ui left floated compact center aligned segment card-in-hand">
        <!-- card  variable made for individual array item, place in array is stored in index -->
		<button (click)="returnACard(I, card)" class="ui large button"> 
            <!-- when button is clicked, it runs the individual card and its position in the array through the function -->
			<h2 class="redCard">{{card.rank}} of {{card.suit}}</h2>
			<span class="return">
				RETURN
				<i class="reply icon"></i>
			</span>
		</button>
	</div>
</div>
